/* Version: 121225_9:27. */

html, body {
  display: grid;
}

html {
  text-size-adjust: 100%;
  line-height:1.15;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 12px;
  padding: 4px;
  background: #222;
  color: white;
}

main {
  display:block
}