html, body {
  display: grid;
}

html {
  webkit-text-size-adjust:100%;
  line-height:1.15;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 12;
  padding: 4;
  background: #222;
  color: white;
}

main {
  display:block
}