/* Version: 121225_10:02. */

/* Fundamental section. */

html, body {
  display: grid;
}

html {
  text-size-adjust: 100%;
  line-height: 1.15;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 12px;
  padding: 4px;
  background: #222;
  color: white;
}

main {
  display: block;
}


/* Text section. */

header {
  background-color: #333;
  color: #fff;
  padding: 1em 2px;
  text-align: center;
}

p {
  line-height: 1.6;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace;
  font-size: 1em;
}

code {
  background-color: #041e24;
}
