*.pyc
*.pyo
*.swp
*~
.pytest_cache
__pycache__
.mypy_cache
.mypycache
.vscode
*.mp4
*.webm
*.mkv
clips.xspf
*.xspf
log.txt
Instructions4Myself.txt
example_videos/*
videos/*
BKP*TMP*
list_*.txt
wierd_file_names.txt
spellright.dict
DockerWinInstructions.txt
commands.txt
.coverage
.BKP*

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
