*.pyc
*.pyo
*.swp
*~
.pytest_cache
__pycache__
.mypy_cache
.mypycache
.vscode
*.mp4
*.webm
*.mkv
clips.xspf
log.txt
Instructions4Myself.txt
example_videos/*
videos/*
BKP*TMP*
list_*.txt
wierd_file_names.txt
spellright.dict
DockerWinInstructions.txt
commands.txt
.coverage
.BKP*
