---
# DO NOT even think about multiple workflows for CICD!

name: CICD

on: push

env:
  # _ Python _
  # Specify minimum code coverage for Unit Testing:
  TARGET_COVERAGE: 40
  CORE_SUBFOLDER: 'PythonCore'
  SCRIPT_NAME: 'random_video_clip_generator.py'
  # Single place to update Python version for this workflow:
  PYTHON_VERSION: '3.10'
  # _ Cloud + Web _
  REGION: 'us-east-2'
  CLOUD_SUBFOLDER: 'CloudService'
  CSS_STYLESHEET: 'styles.css'


jobs:

  # _ Meta-code _

  # Auxiliary job that checks if any YAML file(s) changed.
  any-yaml-changed:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      any_yaml_files_were_updated:
        ${{ steps.detect_yaml_diff.outputs.any_changed }}
    steps:
      # Fetch all history for version tagging:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: detect_yaml_diff
        uses: ./.github/actions/changed-files
        with:
          files: "**/*.{yml,yaml}"
      - run: |
          echo 'Did any YAML file(s) change in this commit: '
          echo ${{ steps.detect_yaml_diff.outputs.any_changed }}

  # Lint YAML.
  meta-code-quality:
    needs: any-yaml-changed
    if: needs.any-yaml-changed.outputs.any_yaml_files_were_updated == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4

      - name: Lint YAML files.
        uses: frenck/action-yamllint@v1


  # _ Python _

  # Auxiliary job that checks if any Python file(s) changed.
  any-python-changed:
    needs: meta-code-quality
    # Run even if upstream was skipped, but not if it failed:
    if: ${{ !failure() && !cancelled() }}
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      any_python_files_were_updated:
        ${{ steps.detect_python_diff.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: detect_python_diff
        uses: ./.github/actions/changed-files
        with:
          files: '**/*.py'
      - run: |
          echo 'Did any Python file(s) change in this commit: '
          echo ${{ steps.detect_python_diff.outputs.any_changed }}

  # Python lint, type-checking, import order.
  # Dependency audit.
  # Only runs if any Python files changed.
  python-code-quality:
    needs: any-python-changed
    # Run even if ANY upstream was skipped (like meta), but not if it failed:
    if: >
      !failure() && !cancelled() &&
      needs.any-python-changed.outputs.any_python_files_were_updated == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 9
    env:
      PYTHONPATH: .

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/set-up-python
        with:
          project-version: ${{ env.PYTHON_VERSION }}

      - uses: ./.github/actions/install-dependencies

      - name: Lint Python code.
        run: pylint .

      - name: Type checking.
        run: mypy .

      - name: Import ordering.
        run: isort --check .

      - name: Dependency security audit.
        run: pyscan

  # Runs on Windows: unit + code coverage, integration.
  # Only for a potential release and if code quality cleared.
  # TMP: SKIPPING!
  python-code-testing:
    needs: python-code-quality
    # Without the first conditions
    #   this job gets skipped IF meta job gets skipped,
    #   as it depends on it indirectly up the chain,
    #   (so no Python code tests if YAML doesn't change).
    # Only test Python code if commit will trigger a Release:
    if: false
    # if: >-
    #  !failure() && !cancelled() &&
    #  (contains(github.event.head_commit.message, 'feat!:') ||
    #  contains(github.event.head_commit.message, 'feat:') ||
    #  contains(github.event.head_commit.message, 'fix:'))
    runs-on: windows-latest
    timeout-minutes: 13
    env:
      PYTHONPATH: .

    steps:
      - uses: actions/checkout@v4

      - name: Install FFMpeg, VLC.
        # To verify VLC installation:
        # & "C:\Program Files\VideoLAN\VLC\vlc-cache-gen.exe" --version
        run: |
          choco install ffmpeg -y
          choco install vlc -y

      - uses: ./.github/actions/set-up-python
        with:
          project-version: ${{ env.PYTHON_VERSION }}

      - uses: ./.github/actions/install-dependencies

      - name: Setup (create fake example videos).
        run: python tests/setup.py

      - name: Unit testing.
        run: pytest -vvv tests/unit_tests.py

      - name: Code coverage.
        run: >
          pytest --cov=${{ env.CORE_SUBFOLDER }}
          --cov-fail-under=${{ env.TARGET_COVERAGE }}
          tests/unit_tests.py

      - name: Integration testing.
        run: pytest -vvv tests/integration_tests.py

  # Auxiliary job that checks if core Python script changed specifically.
  core-changed:
    needs: meta-code-quality
    if: ${{ !failure() && !cancelled() }}
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      core_python_script_was_updated:
        ${{ steps.detect_core_python_script_diff.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: detect_core_python_script_diff
        uses: ./.github/actions/changed-files
        with:
          files: ${{ env.CORE_SUBFOLDER }}/${{ env.SCRIPT_NAME }}
      - run: |
          echo 'Did the core Python script change in this commit: '
          echo ${{ steps.detect_core_python_script_diff.outputs.any_changed }}

  # Conventional Commits Release (PSR: Python Semantic Release).
  # Only runs if core Python script changed + special commit message.
  release:
    needs: [python-code-testing, core-changed]
    if: >-
      !failure() && !cancelled() &&
      needs.python-code-testing.result == 'success' &&
      needs.core-changed.outputs.core_python_script_was_updated == 'true' &&
      (contains(github.event.head_commit.message, 'feat!:') ||
      contains(github.event.head_commit.message, 'feat:') ||
      contains(github.event.head_commit.message, 'fix:'))
    runs-on: ubuntu-latest
    timeout-minutes: 9
    env:
      PYTHONPATH: .
    # Allow commits, tags, pushes:
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/set-up-python
        with:
          project-version: ${{ env.PYTHON_VERSION }}

      - run: python -m pip install python-semantic-release

      - name: Configure Git.
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

      # Bump version, commit, tag, publish GitHub Release:
      - name: Semantic Release.
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # Locally do: python -m semantic_release
        run: |
          # semantic-release --verbose --strict --noop --version
          semantic-release --verbose --strict --config pyproject.toml \
            version --skip-build --vcs-release

  deploy-to-s3-and-lambda:
    needs: [release, core-changed]
    if: >-
      !failure() && !cancelled() &&
      needs.release.result == 'success' &&
      needs.core-changed.outputs.core_python_script_was_updated == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 16
    env:
      PYTHONPATH: .
      BUCKET_FOR_SCRIPT: 'rvcg-marq-30072025'
      VERIFY_BASH_SCRIPT: '.github/scripts/verify_deployed_version.sh'
      LAMBDA_FUNCTION_NAME: 'generate_xml_playlist_lambda'

    steps:
      - name: Checkout code (deep, main).
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Pull release.
        run: git pull origin main

      - uses: ./.github/actions/set-up-python
        with:
          project-version: ${{ env.PYTHON_VERSION }}

      # No need to install AWS CLI.
      # These are needed or import breaks.
      # (Script is executed to verify version).
      - run: python -m pip install boto3 boto3-stubs boto3-stubs[s3]

      - name: Load AWS credentials from GitHub secrets.
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_RVCGS }}
          aws-secret-access-key: >
            ${{ secrets.AWS_SECRET_ACCESS_KEY_RVCGS }}
          aws-region: ${{ env.REGION }}

      - name: Upload script to S3.
        run: >
          aws s3 cp ${{ env.CORE_SUBFOLDER }}/${{ env.SCRIPT_NAME }}
          s3://${{ env.BUCKET_FOR_SCRIPT }}/${{ env.SCRIPT_NAME }}
          --content-type 'text/x-python'
          --content-disposition "attachment; filename=${{ env.SCRIPT_NAME }}"
          --metadata-directive REPLACE

      - name: Verify correct version is live (for script users).
        run: |
          chmod +x ${{ env.VERIFY_BASH_SCRIPT }}
          ${{ env.VERIFY_BASH_SCRIPT }} \
            "${{ env.CORE_SUBFOLDER }}" \
            "${{ env.SCRIPT_NAME }}" \
            "${{ env.BUCKET_FOR_SCRIPT }}"

      - name: Deploy to Lambda (website / Cloud service users).
        run: |
          script="${{ env.CORE_SUBFOLDER }}/${{ env.SCRIPT_NAME }}"
          mkdir lambda-package
          cd lambda-package
          python -m pip install boto3 mypy-boto3-s3 -t .
          cp ../$script .
          zipfile=packaged.zip
          zip -v -r ../$zipfile . \
          -x "*.pyc" -x "*__pycache__*" -x "*.dist-info*"
          cd ..
          ls -ltA
          aws lambda update-function-code \
          --function-name ${{ env.LAMBDA_FUNCTION_NAME }} \
          --zip-file fileb://$zipfile


  # _ Web _

  # Auxiliary job that checks if the CSS stylesheet changed specifically.
  css-changed:
    needs: meta-code-quality
    if: ${{ !failure() && !cancelled() }}
    runs-on: ubuntu-latest
    timeout-minutes: 2
    outputs:
      css_stylesheet_was_updated:
        ${{ steps.detect_css_stylesheet_diff.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: detect_css_stylesheet_diff
        uses: ./.github/actions/changed-files
        with:
          files: ${{ env.CLOUD_SUBFOLDER }}/${{ env.CSS_STYLESHEET }}
      - run: |
          echo 'Did the CSS stylesheet change in this commit: '
          echo ${{ steps.detect_css_stylesheet_diff.outputs.any_changed }}

  # Auxiliary job that checks if any HTML document(s) changed.
  any-html-changed:
    needs: meta-code-quality
    if: ${{ !failure() && !cancelled() }}
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      any_html_documents_were_updated:
        ${{ steps.detect_html_diff.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: detect_html_diff
        uses: ./.github/actions/changed-files
        with:
          files: '**/*.html'
      - run: |
          echo 'Did any HTML document(s) change in this commit: '
          echo ${{ steps.detect_html_diff.outputs.any_changed }}

  # Auxiliary job that checks if any JavaScript file(s) changed.
  any-js-changed:
    needs: meta-code-quality
    if: ${{ !failure() && !cancelled() }}
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      any_js_files_were_updated:
        ${{ steps.detect_js_diff.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: detect_js_diff
        uses: ./.github/actions/changed-files
        with:
          files: '**/*.js'
      - run: |
          echo 'Did any JavaScript file(s) change in this commit: '
          echo ${{ steps.detect_js_diff.outputs.any_changed }}

  # Lint CSS.
  css-style-quality:
    needs: css-changed
    if: >
      !failure() && !cancelled() &&
      needs.css-changed.outputs.css_stylesheet_was_updated == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 4

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Lint CSS.
        run: |
          npm install --global stylelint stylelint-config-standard
          npx stylelint ${{ env.CLOUD_SUBFOLDER }}/${{ env.CSS_STYLESHEET }}

  # Lint HTML.
  html-style-quality:
    needs: any-html-changed
    if: >
      !failure() && !cancelled() &&
      needs.any-html-changed.outputs.any_html_documents_were_updated == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Lint HTML.
        run: |
          npm install --global html-validate
          html-validate .

  # Only lint JS for now. I MAY add automated testing later.
  # Only runs if any JS files changed.
  js-code-quality:
    needs: any-js-changed
    if: >
      !failure() && !cancelled() &&
      needs.any-js-changed.outputs.any_js_files_were_updated == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 7

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Lint JavaScript.
        run: |
          npm install --global standard
          npx standard

  # Upload web files to RVCG.com bucket + invalidate CloudFront distribution.
  deploy-web-assets:
    needs:
      - css-changed
      - any-html-changed
      - any-js-changed
      - css-style-quality
      - html-style-quality
      - js-code-quality
    if: >-
      !failure() && !cancelled() &&
      (needs.css-style-quality.result == 'success' ||
      needs.html-style-quality.result == 'success' ||
      needs.js-code-quality.result == 'success')
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      BUCKET_WEB: 'randomvideoclipgenerator.com'
      CLOUDFRONT_DISTRIBUTION: 'EWDPJFG1ZNBMV'

    steps:
      - uses: actions/checkout@v4

      - name: Load AWS credentials from GitHub secrets.
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_RVCGS }}
          aws-secret-access-key: >
            ${{ secrets.AWS_SECRET_ACCESS_KEY_RVCGS }}
          aws-region: ${{ env.REGION }}

      - name: Sync web assets to S3.
        run: >
          aws s3 sync ${{ env.CLOUD_SUBFOLDER }}
          s3://${{ env.BUCKET_WEB }}
          --delete

      - name: Invalidate CloudFront cache.
        run: >
          aws cloudfront create-invalidation
          --distribution-id ${{ env.CLOUDFRONT_DISTRIBUTION }}
          --paths '/*'
