---
name: CICD.

on: push

env:
  # Specify minimum code coverage for Unit Testing:
  TARGET_COVERAGE: 70
  SUBFOLDER_NAME: 'PythonCore'

jobs:
  # Python: linting, type-checking, import order, dependency audit.
  # YAML: linting.
  code-quality:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-versions: ['3.10']
    timeout-minutes: 9

    steps:
      - name: Checkout code.
        uses: actions/checkout@v4

      - name: Get changed files.
        id: changed-files
        uses: tj-actions/changed-files@v22.1

      - name: List all updated files.
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}
          do
            echo ">>> $file was updated. "
          done

      - name: Check if List.md changed.
        if: contains(steps.changed-files.outputs.modified_files, 'List.md')
        run: |
          echo ">>> Music video list was modified!"


      - name: Lint YAML files.
        uses: frenck/action-yamllint@v1

      # Python code quality:
      - name: Setup Python ${{ matrix.python-versions }}.
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-versions }}

      - name: Install dependencies.
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint Python code.
        run: |
          echo 'Files to be linted: '
          files=$(git ls-files '*.py')
          echo $files
          pylint -v $files

      - name: Type checking.
        run: |
          echo 'Files to be type-checked: '
          files=$(git ls-files '*.py')
          echo $files
          mypy $files

      - name: Import ordering.
        run: |
          isort --check --verbose .

      - name: Dependency audit.
        run: |
          pyscan

  # Runs on Windows: unit + code coverage, integration.
  code-testing:
    needs: code-quality
    runs-on: windows-latest
    strategy:
      matrix:
        python-versions: ['3.10']
    timeout-minutes: 13

    steps:
      - name: Checkout code.
        uses: actions/checkout@v4

      - name: Install FFMpeg, VLC.
        run: |
          choco install ffmpeg -y
          choco install vlc -y

      # PowerShell requires call operator (&) to exec quoted paths:
      - name: Verify VLC installation.
        run: >
          & "C:\Program Files\VideoLAN\VLC\vlc-cache-gen.exe" --version

      - name: Setup Python ${{ matrix.python-versions }}.
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-versions }}

      - name: Install dependencies.
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Setup, create fake example videos.
        env:
          PYTHONPATH: .
        run: |
          python tests/setup.py

      - name: Unit testing.
        env:
          PYTHONPATH: .
        run: |
          pytest -vvv tests/unit_tests.py

      - name: Code coverage.
        env:
          PYTHONPATH: .
        run: >
          pytest --cov=${{ env.SUBFOLDER_NAME }}
          --cov-fail-under=${{ env.TARGET_COVERAGE }}
          tests/unit_tests.py

      - name: Integration testing.
        env:
          PYTHONPATH: .
        run: pytest -vvv tests/integration_tests.py

  # Upload Python script to S3 only when:
  #  * Main branch completes CI.
  #  * Script changed.
  deploy-to-s3:
    needs: code-testing
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    env:
      BUCKET: 'rvcg-marq-30072025'
      REGION: 'us-east-2'
      SCRIPT_NAME: 'random_video_clip_generator.py'
      DOWNLOAD_ENDPOINT: 'https://rvcg-marq-30072025.s3.us-east-2.amazonaws.com
        /random_video_clip_generator.py'

    steps:
      - name: Checkout code.
        uses: actions/checkout@v4
        with:
          # Fetch all history for version tagging:
          fetch-depth: 0

      - name: Check if Python script changed in this commit.
        id: script-was-updated
        uses: tj-actions/changed-files@v22.1
        with:
          files: ${{ env.SUBFOLDER_NAME }}/${{ env.SCRIPT_NAME }}

      - name: Skip the rest of this job if Python script did not change.
        if: steps.script-was-updated.outputs.any_changed != 'true'
        run: |
          echo "Core Python script unchanged in this commit, " \
          "skipping deployment."
          exit 0

      - name: Setup Python.
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # No need to install AWS CLI.

      - name: Load AWS credentials from GitHub secrets.
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_2UPLOAD2S3 }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_2UPLOAD2S3 }}
          aws-region: ${{ env.REGION }}

      - name: Verify AWS CLI is available.
        run: |
          which aws
          aws --version

      - name: Upload script to S3.
        run: >
          aws s3 cp ${{ env.SUBFOLDER_NAME }}/${{ env.SCRIPT_NAME }}
          s3://${{ env.BUCKET }}/${{ env.SCRIPT_NAME }}
          --content-type 'text/x-python'
          --content-disposition "attachment; filename=${{ env.SCRIPT_NAME }}"
          --metadata-directive REPLACE

      - name: Verify correct version is live.
        run: |
          script_from_src="${{ env.SUBFOLDER_NAME }}/${{ env.SCRIPT_NAME }}"
          echo "Script from SCM => ${script_from_src} "
          # Expected version:
          top_result=$(grep version $script_from_src | head -1)
          cut_result=$(echo $top_result | cut -d= -f 2)
          expected_version=$(echo $cut_result | tr -d " '")
          echo "Expected version => ${expected_version} "
          # Actual version:
          curl -X GET ${{ env.DOWNLOAD_ENDPOINT }} -o rvcg.py
          actual_version=$(python rvcg.py --version)
          echo "Actual version => ${actual_version} "
          if [[ $expected_version != $actual_version ]]
          then
            echo "Expected ${expected_version} version, " \
            "but instead found ${actual_version}. "
            exit 1
          fi
