---
# DO NOT even think about multiple workflows!

name: CICD

on: push

env:
  # Specify minimum code coverage for Unit Testing:
  TARGET_COVERAGE: 0
  SUBFOLDER_NAME: 'PythonCore'
  SCRIPT_NAME: 'random_video_clip_generator.py'
  PYTHON_VERSION: '3.10'


jobs:
  # Auxiliary job that checks if any YAML file changed.
  any-yaml-changed:
    if: always()
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      any_yaml_files_changed:
        ${{ steps.yaml_was_updated.outputs.any_changed }}
    steps:
      # Fetch all history for version tagging:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: yaml_was_updated
        uses: ./.github/actions/changed-files
        with:
          files: "**/*.{yml,yaml}"
      - run: |
          echo 'Did any YAML file(s) change in this commit: '
          echo ${{ steps.yaml_was_updated.outputs.any_changed }}

  # Lint YAML.
  meta-code-quality:
    needs: any-yaml-changed
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: needs.any-yaml-changed.outputs.any_yaml_files_changed == 'true'

    steps:
      - uses: actions/checkout@v4

      - name: Lint YAML files.
        uses: frenck/action-yamllint@v1

  # Auxiliary job that checks if any Python file changed.
  any-python-changed:
    needs: meta-code-quality
    # Run even if upstream was skipped, but not if it failed:
    if: ${{ !failure() && !cancelled() }}
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      any_python_files_changed:
        ${{ steps.python_was_updated.outputs.any_changed }}
    steps:
      # Fetch all history for version tagging:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: python_was_updated
        uses: ./.github/actions/changed-files
        with:
          files: "**/*.py"

      - run: |
          echo 'Did any Python file(s) change in this commit: '
          echo ${{ steps.python_was_updated.outputs.any_changed }}

  python-code-quality:
    needs: any-python-changed
    if: needs.any-python-changed.outputs.any_python_files_changed == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 9
    env:
      PYTHONPATH: .

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/set-up-python
        with:
          project-version: ${{ env.PYTHON_VERSION }}

      - uses: ./.github/actions/install-dependencies

      - name: Lint Python code.
        run: pylint .

      - name: Type checking.
        run: mypy .

      - name: Import ordering.
        run: isort --check --verbose .

      - name: Dependency security audit.
        run: pyscan
