---
name: CICD for Python Core.

on: push

env:
  # Specify minimum code coverage for Unit Testing:
  TARGET_COVERAGE: 0
  SUBFOLDER_NAME: 'PythonCore'
  SCRIPT_NAME: 'random_video_clip_generator.py'

jobs:
  # Python: linting, type-checking, import order, dependency audit.
  # YAML: linting.
  code-quality:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-versions: ['3.10']
    timeout-minutes: 9

    steps:
      - uses: actions/checkout@v4

      - name: Get changed files.
        id: changed-files
        uses: tj-actions/changed-files@v22.1

      - name: List all updated files.
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}
          do
            echo ">>> $file was updated. "
          done

      - name: Check if List.md changed.
        if: contains(steps.changed-files.outputs.modified_files, 'List.md')
        run: |
          echo ">>> Music video list was modified!"


      - name: Lint YAML files.
        uses: frenck/action-yamllint@v1

      # Python code quality:
      - name: Setup Python ${{ matrix.python-versions }}.
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-versions }}

      - name: Install dependencies.
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint Python code.
        env:
          PYTHONPATH: .
        run: |
          echo 'Files to be linted: '
          files=$(git ls-files '*.py')
          echo $files
          pylint -v $files

      - name: Type checking.
        run: |
          echo 'Files to be type-checked: '
          files=$(git ls-files '*.py')
          echo $files
          mypy $files

      - name: Import ordering.
        run: |
          isort --check --verbose .

      - name: Dependency audit.
        run: |
          pyscan

  # Runs on Windows: unit + code coverage, integration.
  # Skip by including this in the commit message: [skiptest].
  code-testing:
    needs: code-quality
    if: >-
      !contains(github.event.head_commit.message, '[skiptest]') &&
      !contains(github.event.head_commit.message, '[skip tests]') &&
      !contains(github.event.head_commit.message, '[skip-tests]') &&
      !contains(github.event.head_commit.message, '[skip testing]') &&
      !contains(github.event.head_commit.message, '[skip-testing]')
    runs-on: windows-latest
    strategy:
      matrix:
        python-versions: ['3.10']
    timeout-minutes: 13

    steps:
      - uses: actions/checkout@v4

      - name: Install FFMpeg, VLC.
        run: |
          choco install ffmpeg -y
          choco install vlc -y

      # PowerShell requires call operator (&) to exec quoted paths:
      - name: Verify VLC installation.
        run: >
          & "C:\Program Files\VideoLAN\VLC\vlc-cache-gen.exe" --version

      - name: Setup Python ${{ matrix.python-versions }}.
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-versions }}

      - name: Install dependencies.
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Setup, create fake example videos.
        env:
          PYTHONPATH: .
        run: |
          python tests/setup.py

      - name: Unit testing.
        env:
          PYTHONPATH: .
        run: |
          pytest -vvv tests/unit_tests.py

      - name: Code coverage.
        env:
          PYTHONPATH: .
        run: >
          pytest --cov=${{ env.SUBFOLDER_NAME }}
          --cov-fail-under=${{ env.TARGET_COVERAGE }}
          tests/unit_tests.py

      - name: Integration testing.
        env:
          PYTHONPATH: .
        run: pytest -vvv tests/integration_tests.py

  # Auxiliary job that checks if core Python script changed.
  core-changed:
    needs: code-testing
    # Run even if code testing was skipped:
    if: always()
    runs-on: ubuntu-latest
    outputs:
      core-python-script-changed:
        ${{ steps.script_was_updated.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          # Fetch all history for version tagging:
          fetch-depth: 0
      - id: script_was_updated
        uses: tj-actions/changed-files@v45
        with:
          files: ${{ env.SUBFOLDER_NAME }}/${{ env.SCRIPT_NAME }}
      - name: Show results.
        run: |
          echo "Any changed: "
          echo ${{ steps.script_was_updated.outputs.any_changed }}

  # In case Release is skipped, I can see WHY:
  debug-release-conditions:
    needs: [code-testing, core-changed]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Check conditions.
        run: |
          echo "github.ref: ${{ github.ref }}"
          echo "core-changed output: "
          echo ${{ needs.core-changed.outputs.core-python-script-changed }}
          echo "core-changed result: ${{ needs.core-changed.result }}"
          echo "code-testing result: "
          echo ${{ needs.code-testing.result }}

  # Conventional Commits Release (PSR: Python Semantic Release).
  release:
    needs: [core-changed, code-testing]
    if: >-
      github.ref == 'refs/heads/main' &&
      needs.core-changed.outputs.core-python-script-changed == 'true'
    runs-on: ubuntu-latest
    # Allow commits, tags, pushes:
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python.
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python Semantic Release.
        run: |
          python -m pip install --upgrade pip
          python -m pip install python-semantic-release

      - name: Configure Git.
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Semantic Release.
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Locally do: python -m semantic_release
          semantic-release --verbose --strict --noop --version
          # Bump version, commit, tag, publish GitHub Release:
          semantic-release --verbose --strict --config pyproject.toml \
            version --skip-build --vcs-release

  # Upload Python script to S3 only when:
  #  * Main branch completes CI.
  #  * Script changed.
  deploy-to-s3:
    needs: [release, core-changed]
    if: >-
      github.ref == 'refs/heads/main' &&
      needs.core-changed.outputs.core-python-script-changed == 'true'
    runs-on: ubuntu-latest
    env:
      BUCKET: 'rvcg-marq-30072025'
      REGION: 'us-east-2'
      VERIFY_BASH_SCRIPT: '.github/scripts/verify_deployed_version.sh'

    steps:
      - name: Checkout code.
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Pull release.
        run: git pull origin main

      - name: Setup Python.
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # No need to install AWS CLI.
      # These are needed or import breaks.
      - name: Install boto3.
        run: |
          python -m pip install --upgrade pip
          python -m pip install boto3 boto3-stubs boto3-stubs[s3]

      - name: Load AWS credentials from GitHub secrets.
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_DEPLOY2S3LAMBDA }}
          aws-secret-access-key: >-
            ${{ secrets.AWS_SECRET_ACCESS_KEY_DEPLOY2S3LAMBDA }}
          aws-region: ${{ env.REGION }}

      - name: Verify AWS CLI is available.
        run: |
          which aws
          aws --version

      - name: Upload script to S3.
        run: >
          aws s3 cp ${{ env.SUBFOLDER_NAME }}/${{ env.SCRIPT_NAME }}
          s3://${{ env.BUCKET }}/${{ env.SCRIPT_NAME }}
          --content-type 'text/x-python'
          --content-disposition "attachment; filename=${{ env.SCRIPT_NAME }}"
          --metadata-directive REPLACE

      - name: Verify correct version is live.
        run: |
          chmod +x ${{ env.VERIFY_BASH_SCRIPT }}
          ${{ env.VERIFY_BASH_SCRIPT }} \
            "${{ env.SUBFOLDER_NAME }}" \
            "${{ env.SCRIPT_NAME }}" \
            "${{ env.BUCKET }}"

  deploy-to-lambda:
    needs: [deploy-to-s3, core-changed]
    if: >-
      github.ref == 'refs/heads/main' &&
      needs.core-changed.outputs.core-python-script-changed == 'true'
    runs-on: ubuntu-latest
    env:
      REGION: 'us-east-2'
      BUCKET: 'rvcg-marq-30072025'
      LAMBDA_FUNCTION_NAME: 'generate_xml_playlist_lambda'

    steps:
      - name: Deploy to Lambda from S3.
        run: >
          aws lambda update-function-code
          --function-name ${{ env.LAMBDA_FUNCTION_NAME }}
          --s3-bucket ${{ env.BUCKET }}
          --s3-key ${{ env.SCRIPT_NAME }}
