---
# DO NOT even think about multiple workflows!

name: CICD

on: push

env:
  # Specify minimum code coverage for Unit Testing:
  TARGET_COVERAGE: 0
  SUBFOLDER_NAME: 'PythonCore'
  SCRIPT_NAME: 'random_video_clip_generator.py'


jobs:
  # Auxiliary job that checks if any YAML file changed.
  any-yaml-changed:
    if: always()
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      any_yaml_files_changed:
        ${{ steps.yaml_was_updated.outputs.any_changed }}
    steps:
      # Fetch all history for version tagging:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: yaml_was_updated
        uses: ./.github/actions/changed-files
        with:
          files: "**/*.{yml,yaml}"
      - run: |
          echo 'Did any YAML file(s) change in this commit: '
          echo ${{ steps.yaml_was_updated.outputs.any_changed }}

  # Lint YAML.
  meta-code-quality:
    needs: any-yaml-changed
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: needs.any-yaml-changed.outputs.any_yaml_files_changed == 'true'

    steps:
      - uses: actions/checkout@v4

      - name: Lint YAML files.
        uses: frenck/action-yamllint@v1

  dummy:
    needs: meta-code-quality
    if: success() || skipped()
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo 'Does this really run even if YAML lint is skipped?'
