---
name: Code quality & automated code tests.

on: [pull_request, push]

jobs:
  code-quality:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-versions: ['3.10']
    timeout-minutes: 9
    steps:
      - name: Checkout code.
        uses: actions/checkout@v4

      - name: Get changed files.
        id: changed-files
        uses: tj-actions/changed-files@v22.1

      - name: List all updated files.
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}
          do
            echo ">>> $file was updated. "
          done

      - name: Check if List.md changed.
        if: contains(steps.changed-files.outputs.modified_files, 'List.md')
        run: |
          echo ">>> Music video list was modified!"


      - name: Lint YAML files.
        uses: frenck/action-yamllint@v1

      # Python code quality:
      - name: Setup Python ${{ matrix.python-versions }}.
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-versions }}

      - name: Install dependencies.
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint Python code.
        run: |
          echo 'Files to be linted: '
          files=$(git ls-files '*.py')
          echo $files
          pylint -v $files

      - name: Type checking.
        run: |
          echo 'Files to be type-checked: '
          files=$(git ls-files '*.py')
          echo $files
          mypy $files

      - name: Import ordering.
        run: |
          isort --check --verbose .

  #test-code: #TODO.

