---
# Send myself a notification on Discord
#   if any of the website URLs break (www, https).
name: Daily website health checks.

on:
  # Run every night at 2am CST:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:  # Allow manual execution.

jobs:
  rvcgs-website-is-available:
    runs-on: ubuntu-latest
    env:
      HEALTH_CHECK_BASH_SCRIPT: '.github/scripts/curl_rvcgs_urls.sh'
      SEND_NOTIFICATION_SCRIPT: '.github/scripts/send_notification.sh'

    steps:
      - name: Get separate Bash script that actually contains the curl calls.
        uses: actions/checkout@v4

      - name: Verify RVCG/S website availability.
        id: health_check
        # Don't just fail the workflow,
        # I want to receive an email in case of failure:
        continue-on-error: true
        run: |
          chmod +x ${{ env.HEALTH_CHECK_BASH_SCRIPT }}
          ${{ env.HEALTH_CHECK_BASH_SCRIPT }}

      - name: Send notification on failure.
        if: steps.health_check.outcome == 'failure'
        run: |
          chmod +x ${{ env.SEND_NOTIFICATION_SCRIPT }}
          ${{ env.SEND_NOTIFICATION_SCRIPT }} \
            "${{ steps.health_check.outputs.failed_urls }}" \
            "${{ secrets.DISCORD_WEBHOOK_URL }}" \
            'daily'
